[Desktop Entry]
Type=Application
Name=st
Comment=simple-terminal emulator for X
Icon=utilities-terminal
Exec=st
Categories=System;TerminalEmulator
X-XFCE-Source=file:///usr/local/share/applications/st.desktop
